//background picture
ion-content {
  --background: #fff url("~/assets/icon/skyPic.jpg") no-repeat center center / cover;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
//all buttons centered
 .ui-grid-solo {
   text-align:center;
   padding: 50px 50px;
   

  }

  .button {
    display: table;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 27px;
.size {
    
    letter-spacing: 2px;
    width: 580px;
    height: 120px;
    display: block;
    border-radius: 4px;
}

  }