<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 
  <br><br> 
  <div class="button"><ion-button class="size" size="large" shape="round" [routerLink]="['/news']">News</ion-button></div>
  <br><br>
  <div class="button"><ion-button class="size" size="large" shape="round" [routerLink]="['/accessory']">Accessory</ion-button></div>
  <br><br>
   <div class="button"><ion-button class="size" size="large" shape="round" [routerLink]="['/to-do-list']">To-do List</ion-button></div>
  

  
</ion-content>
