//all buttons for accessory
   .button {
    display: table;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 27px;
.size {
    
    letter-spacing: 2px;
    width: 480px;
    height: 100px;
    display: block;
}

  }